# Django #
*.log
*.pot
*.pyc
__pycache__
jopapplication
db.sqlite3
media
README.md
requ.txt



# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history