[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "*"
django-import-export = "*"
django-country = "*"

[dev-packages]

[requires]
python_version = "3.7"
