{% extends 'base.html' %}

{% block title %} category {% endblock title %}


{% block content %}

<div class="row text-primary py-2">
    <div class="col-md">
            <div class="card mb-4 p-3">
    
    <div class="list-card-image">
        <div class="star float-right"><span class="badge badge-success"><i class="icofont-star"></i> saves 5k</span></div>
        <strong>Vacancy: {{job.vaccancy}}</strong>
    </div><hr class="mt-2 mb-2">

    <span style="color: red;"> | Posted: {{job.posted_on | timesince}}</span>  
   <p> Posted by {{job.company.capitalize}} </p>
   <div class="mt-4">
       
<h5 class="text-muted">Descriptions</h5>
    <p>{{job.description|truncatewords:20}}</p>
    <p>Deadline: {{job.dadeline}} </p>

</div>

<p>Available Post(s): {{job.available}} </p>
<hr>
<div class="btn-group m-auto">
    
    {% if request.user.is_authenticated %}
    <a class="btn btn-sm rounded btn-info m-1" href="{% url 'portalapp:applying' job.id %}">Apply Now</a>
    {% else %}        
    <a class="btn btn-sm rounded btn-danger m-1" href="{% url 'login' %}">Login to Apply</a>
    {% endif %}
<a class="btn btn-sm rounded btn-primary m-1" href="{% url 'portalapp:catjobs' job.category %}"> save job</a>
</div>
</div>
</div>
</div>

{% endblock content %}