{% extends 'base.html' %}
{% load static %}


{% block title %} Change Password {% endblock title %}




{% block content %}

<div class="row mt-3">
    <div class="col-md-3">
        <div class="mgana-account-page-left shadow-sm bg-white h-100">
            <div class="border-bottom p-4">
                <div class="mgana-user text-center">
                    <div class="mgana-user-media">
                        <img class="mb-3 rounded-pill shadow-sm mt-1" src="{{request.user.profile_image.url}}" alt="profile image">
                        <div class="mgana-user-media-body">
                            <h6 class="mb-2">{{request.user.full_name}}</h6>
                            <p class="mb-1">+255(0)628 229 838</p>
                            <p class="mb-1">{{request.user.role}}</p>                            
                            <p>{{request.user.email}}</p>
                            <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> EDIT PROFILE</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i> Favorites</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div class="mgana-account-page-right shadow-sm bg-white p-4 h-100">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                    <h4 class="font-weight-bold mt-0 mb-4">Favorites</h4>

                    <!-- row -->
                    <div class="row">
                        <!-- cards -->
                        <div class="col-md-7 col-sm-9 m-auto mb-4 pb-2">
                            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">

                                
                                <div class="list-card-image">
                                
                                <div class="p-3 position-relative">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <button class="btn btn-sm btn-info">Change Password</button>
                                    </form>
                                </div>


                            </div>
                        </div>
                        <!-- end card -->
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
