{% extends 'base.html' %}

{% block title %} profile {% endblock title %}



{% block searchbar %}
<div class="pt-md-2 float-right">
Resume completion <span class="p-2 badge badge-pill badge-primary">90%</span>
</div>
{% endblock searchbar %}

{% block content %}

<div class="panel">          
          <div class="panel-body bio-graph-info">
              <form action="" method="post" class="form-group">
                  {% csrf_token %}
                  {{form.as_p}}
                <!-- <div class="panel-body bio-graph-info py-2">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Full Name </span><input type="text" name="" value="{{request.user.username}}" id="" class="form-control" placeholder="Fname Lname"></p>
                    </div>
                    <div class="bio-row">
                        <p><span>User Name </span><input type="text" name="" value="{{request.user.username}}" id=""  class="form-control" placeholder="Someonexx"></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span><input type="text" name="" value="{{request.user.email}}" id="" class="form-control"></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Birthday</span><input type="date" name="" value="{{request.user.profile.date_of_birth}}" id="" class="form-control" placeholder="YYY/MM/DD"></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Occupation </span><input type="text" name="" value="" id="" class="form-control"></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span><input type="email" name="" value="{{request.user.email}}" id="" class="form-control" placeholder="someone@xx.com"></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile </span><input type="number" name="" value="{{request.user.profile.phone}}" id="" class="form-control" placeholder="0xxx xxx xxx"      ></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Hired Status </span>
                          <select name="hire_status" value="{{request.user.resume.hire_status}}" id="" class="form-control">
                              <option value="">Hired</option>
                              <option value="">Freelance</option>
                              <option value="">both</option>
                          </select>
                       
                    </div>
                </div>
            </div>     -->
            <div class="form-group text-center">
              <button type="submit" class="btn btn-info"><i class="icofont icofont-database"></i> Update</button>
              <button type="reset" class="btn btn-danger"><i class="icofont icofont-close"></i> Cancel</button>
          </div>
      </form>    
  
          </div>
  </div>
  


{% endblock content %}
