{% extends 'base.html' %}

{% block title %} category {% endblock title %}



{% block searchbar %}
{% include 'included/search.html' %}
{% endblock searchbar %}

{% block content %}

      <div class="panel row justify-content-center" style="height: 60vh;">
          <div class="col-md-10">
<div class="card p-5 border-0 shadow-sm">
              <h1>User Details</h1>
              <div class="row">
                  <div class="col-md-4">
                      <img width="150" class="image-fluid rounded" src="../../static/freelancer.png"><br>
                      <a href='' class="text-decoration-none text-center text-primary"><i class="fas fa-user-edit"></i>&nbsp;Change profile image</a>
                  </div>

            <div class="col-md-8">
                    <div class="bio-row">
                    <p><strong>Full Name </strong>:&nbsp; {{request.user.first_name|title}} &nbsp;&nbsp; {{request.user.first_name|title}}</p>
                </div>

                  <div class="bio-row">
                      <p><strong>User Name </strong>: {{request.user.username|title}}</p>
                  </div>
                  <div class="bio-row">
                      <p><strong>Country </strong>: {{request.user.seeker.country|title}}</p>
                  </div>
                  <div class="bio-row">
                      <p><strong>Birthday</strong>: {{request.user.seeker.date_of_birth}}</p>
                  </div>
                  <div class="bio-row">
                      <p><strong>Email </strong>: {{request.user.email.capitalize}}</p>
                  </div>
                  <div class="bio-row">
                      <p><strong>Mobile </strong>: {{request.user.profile.phone}}</p>
                  </div>
                  <div class="bio-row">
                      <p><strong>Hired Status </strong>: {{request.user.resume.hire_status|title}}</p>
                  </div>
              </div>
            </div>
        </div>
          </div>
    </div>

{% endblock content %}
