{% extends 'base.html' %}

{% block title %} category {% endblock title %}


{% block content %}
<div class="mt-5">
{% for cat in cats %}
<h2 class="mt-5 text-info">{{cat.title}}</h2>
{% for job in cat.job_set.all %}
<div class="row">
<div class="card mb-0 col-md-5 m-2 pt-4 pb-0">
    
    <strong>{{job.vaccancy}}</strong>

    <span style="color: red;"> | Posted: {{job.posted_on | timesince}} by {{job.company.capitalize}} Company </span> 
        <hr class="mt-2 mb-2">

    <p>{{job.description|truncatewords:20}}</p>
<hr>
<p>Post(s): {{job.available}} | Category: <a href="{% url 'portalapp:catjobs' job.category %}">{{job.category}}</a><a href="{% url 'portalapp:singlejob' job.id %}"> View Job</a></p>

</div>
</div>
{% endfor %}
{% endfor %}
</div>
{% endblock content %}
