  
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
    <div class="container d-flex">
    <a class="navbar-brand" href="/">Job-Portal</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'portalapp:categories' %}">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portalapp:categories' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portalapp:categories' %}">Contacts</a>
            </li>   
        </ul>
<div class="">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control ml-sm-2" type="text" placeholder="Search...">
            <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
</div>
</nav>