{% extends 'base.html' %}
{% block title %} Application {% endblock title %}
{% block content %}

<div class="container">
        <div class="row justify-content-center">   
            <div class="card shadow-sm border-0 rounded">
                <form method="POST" enctype="multipart/form-data">  
                    
                    <div class="card-header">
                        <h5 class="text-center">Application Particulars</h5> 
                    </div>    
                    <div class="card-body"> 
                        {% csrf_token %}    
                        <div class="form-row">  
                            <div class="form-group col-md-6">   
                                <label for="exp">Job title</label>
                                <input type="text" required name="{{form.job_title.html_name}}" value="{{applied_job.position_name|title}}" readonly class="form-control" id="inputEmail4" placeholder="Job Title"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exp">Experience</label>
                                <input type="text" readonly required value="{{applied_job.experience}}" name="{{form.job_status.name}}" class="form-control" id="exp" placeholder="Job Status"/>
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                                <label for="exp">Full name</label>
                                <input type="text" class="form-control" required name="{{form.full_name.name}}" value="{{request.user.username|title}}" id="inputAddress" placeholder="Full Name"/>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="exp">Email</label>
                                <input type="email" class="form-control" required name="{{form.seeker_email.name}}" value="{{request.user.email}}" id="inputAddress2" placeholder="Email"/>
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="exp">Phone</label>
                                <input type="number" class="form-control" required name="{{form.seeker_phone.name}}" value="{{request.user.profile.phone}}" id="inputCity" placeholder="Phone Number"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="exp">Experience</label>
                                <input type="number" class="form-control" required name="{{form.seeker_job_experience.name}}" id="inputCity11" placeholder="Experience (Years)"/>
                            </div>
                            <div class="form-group pl-4 col-md-4">
                                <label for="id_seeker_cv">Upload CV</label>
                                <input type="file" accept=".docx, .pdf" class="form-control ml-3" id="id_seeker_cv" name="{{form.seeker_cv.name}}" aria-describedby="filecheck" required/>
                                <small id="filecheck" class="text-danger ml-3"></small>
                            </div>
                            
                        </div>
                       
                    </div>  
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Submit Application</button>
                            <a role="button" type="button" class="btn btn-danger text-decoration-none text-white"><i class="fas fa-times-circle"></i> Cancel Application</a>
                        </div> 
                    </div> 
                    </form> 
            </div> 
        </div>  
</div>  

<script>
    var file = document.getElementById('id_seeker_cv');
    file.onchange = function(e){
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch(ext){
            case 'docs':
            case 'pdf':
            break;

            default:
                document.getElementById('filecheck').innerHTML = 'Unsupported file format';
                this.value = '';
        }        
    }

</script>
{% endblock content %}
