
{% extends 'base.html' %}
{% load static %}


{% block title %} index page {% endblock title %}


{% block searchbar %}
{% include 'included/search.html' %}
{% endblock searchbar %}


<!-- start block area -->
{% block content %}

<hr>

    <!-- viewing categorize jobs -->  
                <!-- viewing all jobs -->
                <div class="row">
                    
                    {% for job in jobs %}
                    <div class="col-md-4 col-sm-6 mb-4 pb-2">
                        <div class="list-card bg-white h-100 rounded p-2 overflow-hidden position-relative shadow-lg">
                        
                           
                           {% if cat %}
                           {{empty}}
                           {% else %}
                           <div class="list-card-image"  style="opacity: 0.7;">
                            <div class="member-plan p-1"><span class="btn btn-sm btn-outline-info"><a class="text-primary m-2" href="{% url 'portalapp:catjobs' job.category %}">{{job.category}}</a></span></div>
                            <a href="#">
                            </a>
                        </div>

                           {% endif %}
                               
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <p style="font-size: 18px;" class="mb-1 text-danger">{{job.vaccancy}}
                                  </p>
                                    <small class="text-gray mb-3">Posted on: {{job.posted_on|timesince}} </a></small><br>
                                    <small class="text-gray mb-3">Deadline: {{job.dadeline}} </a></small>
                                    <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> Post(s): {{job.available}} </span></p>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-info m-1" href="{% url 'portalapp:singlejob' job.id %}"> View Job</a>
                                    <a class="btn btn-sm btn-primary m-1" href="{% url 'portalapp:savejob' job.id %}"> Save</a>
                                </div>
                            </div>

                    </div>
                    </div>
                    {% endfor %}
                </div>    
                <!-- end categorized jobs -->
</div>
</div>
</div>
{% endblock content %}