{% load static %}
<img class="img-fluid" src="{% static 'portalbanner.jpg' %}" alt="banner here">
<nav class="navbar sidenav-overlay sticky-top navbar-expand-md navbar-dark bg-primary">
    <div class="container d-flex">
    <a class="navbar-brand" href="/">Job-Portal</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'portalapp:categories' %}">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portalapp:adddcategory' %}">Add Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portalapp:categories' %}">Contacts</a>
            </li>

        </ul>

<div class="text-white">        
      
            <a class="nav-link text-white" href="{% url 'portalapp:userprofile' %}">Profile</a>
   
    </div>

</div>
</div>
</nav>

