
<div id="desk" class="profile-nav col-md-3">
    <div class="panel">
        <div class="user-heading round bg-info">
            <a>
                <img src="
                
                {% if request.user.profile.profile_image %}
                {{request.user.profile.profile_image.url}}
                {% else %}
                https://bootdey.com/img/Content/avatar/avatar3.png
                {% endif %}
                
                " alt="">
            </a>
            <h1 class="mt-4 text-white" style="font-weight: bold;">{{request.user.username.capitalize}}</h1>
            <span class="text-white-75">{{request.user.email}}</span>
        </div>

        <ul class="nav nav-vertical nav-stacked bg-secondary rounded-bottom mt-0 px-3 py-2">
            <nav class="nav flex-column">
            <li><a class="nav-link text-white" class="nav-link text-white" href="{% url 'portalapp:profile' request.user.id %}"> <i class="fa fa-user  text-white mr-2" ></i> Profile</a></li>
               
            <li><a class="nav-link text-white" href="#"> <i class="icofont-prescription  text-white mr-2" ></i> Saved job(s) <span class="badge badge-danger">9</span></a></li>
               
                
            <li>
                <a class="nav-link text-white" href="#"> <i class="fa fa-calendar-alt text-white mr-2" ></i> My Calender</a>
            </li>
            <li>
                <a class="nav-link text-white" href="#"> <i class="fa fa-tasks  text-white mr-2" ></i> My applications</a>
            </li>
            <li>
                <a class="nav-link text-white" href="#"> <i class="fa fa-file-alt  text-white mr-2" ></i> Update resumes</a>
            </li>
            <li>
                <a class="nav-link text-white" href="#"> <i class="fa fa-edit  text-white mr-2" ></i> Edit profile</a>
            </li>
        </nav>
    </ul>
    </div>
</div>