{% extends 'base.html' %}


{% block content %}
        
            <div class="mgana-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                       <div class="d-flex">
                        <div class="float-left">
                            <p class="nav-link active" href="#">All Jobs Vaccancies</p>
                        </div>                        
                        {% include 'included/search.html' %}
                    </div>
            <hr>
            
                <!-- viewing categorize jobs -->  
                <h2 class="text-info">{{cat}}</h2>
                <div class="row py-2">
                    {% for cat in cats %}
                    <div class="col-md-4 col-sm-6 mb-4 pb-2">
                        <div class="list-card bg-white h-100 rounded p-2 overflow-hidden position-relative shadow-lg">
                        
                            <div class="list-card-image">
                                <div class="star float-right"><span class="badge badge-success"><i class="icofont-star"></i> saves 5k</span></div>
                                
                            </div>
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <h6 class="mb-1"><a href="#" class="text-black">{{cat.vaccancy}}</a>
                                  </h6>
                                    <small class="text-gray mb-3">Posted on: {{cat.posted_on|timesince}} </a></small><br>
                                    <small class="text-gray mb-3">Deadline: {{cat.dadeline}} </a></small><br>
                                    <small class="text-danger"><i class="icofont-wall-clock"></i> Available Post(s): {{cat.available}} </small>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-info m-1" href="{% url 'portalapp:singlejob' cat.id %}"> View Job</a>
                                    <a class="btn btn-sm btn-primary m-1" href="{% url 'portalapp:savejob' cat.id %}"> Save</a>
                                </div>
                            </div>

                    </div>
                    </div>
                    {% endfor %}
                </div>    
                <!-- end categorized jobs -->
</div>
</div>
</div>
{% endblock content %}
